

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Italianno&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Metrophobic&family=Neonderthaw&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";



body{
    background-color: #0C0F13;
    font-family:"Metrophobic", sans-serif;
    font-weight:400;
    font-style:normal;
    color:#F3F3F4
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}



@layer base{

    h1{
        @apply text-5xl lg:text-4xl sm:text-3xl font-bold text-font-primary-color
    }
    h2{
      @apply text-4xl lg:text-3xl sm:text-2xl font-bold text-font-primary-color  
    }
    h3{
        @apply text-3xl lg:text-2xl sm:text-xl font-bold text-font-primary-color
    }
    h4{
        @apply text-2xl lg:text-xl sm:text-lg font-bold text-font-primary-color
    }
    h5{
        @apply text-sm sm:text-base lg:text-base font-semibold text-font-primary-color
    }s
    h6{
        @apply text-lg sm:text-base font-bold text-font-primary-color
    }



}

@theme{

    --color-primary-background:#0C0F13;
    --color-secondary-background:#161920;

    --color-sidebar-hover:#181818;


    --color-border-color:#2F3336;




    --color-font-primary-color:#F3F3F4;    /* for the biggest text*/
    --color-font-secondary-color:#CAC8C4;
    --color-font-tertiary-color:#DEDEE0;
    --color-font-quaternary-color:#71767B;


}

@layer utilities{

    .smallest-text-style{
        @apply text-xs 
    }

    .cardWrapper{
        @apply  w-full h-full flex flex-row gap-2 overflow-x-auto 
    }

}